@import '../styles/_variables.pcss';

.button {
  cursor: pointer;
  -webkit-appearance: none;
  margin: var(--spacingUnit) 0 0;
  font-size: 1em;
  line-height: inherit;
  font-family: inherit;
  border: none;
  color: var(--buttonTextColor);
  background-color: var(--buttonColor);
  border-radius: var(--borderRadius);
  padding: var(--spacingUnit) var(--spacingUnit);

  &:hover {
    background-color: var(--buttonColorHover);
  }
}
