{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ],
          "node": "current",
          "uglify": true
        }
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "polyfill": true
      }
    ],
    ["styled-components", {
      "ssr": false,
      "displayName": false
    }]
  ]
}
