@import '../styles/_variables.pcss';

fieldset {
  margin: 0;
  padding: 0;
}

.fieldset {
  box-sizing: border-box;
  margin-bottom: var(--spacingUnit);
  border: 1px solid var(--borderColor);
  padding: var(--spacingUnit) calc(var(--spacingUnit) / 2);

  .fieldset-legend {
    float: left;
  }
}

.fieldset-inner {
  & > :last-child {
    margin-bottom: 0;
  }
}

.fieldset-legend {
  width: 100%;
  float: left;
  padding: 0;
  margin-bottom: calc(var(--spacingUnit) / 2);
}
