@import '../styles/_variables.pcss';

.input-wrapper {
  @media (min-width: 768px) {
    display: inline-block;
    float: left;
    width: calc(50% - (var(--spacingUnit) / 2) - 0.5em);
  }
}

.display-before {
  float: none;
  width: 100%;
}

.fieldset {
  & > legend {
    float: none;
  }
}
