@import '../styles/_variables.css';

.checkbox {
    display: none;

    &:checked {
        & + .indicator {
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(var(--iconCheckbox));
            background-size: calc(var(--spacingUnit) * .8) auto;
        }
    }
}

.indicator {
    content: '';
    display: inline-block;
    width: var(--spacingUnit);
    height: var(--spacingUnit);
    margin-right: calc(var(--spacingUnit) / 2);
    background-color: var(--inputColor);
    border-radius: var(--borderRadius);
}
