@import '../styles/_variables.css';

/* Field Wrapper */

.formrow {
    margin-bottom: var(--spacingUnit);
}

/* Field Label */

label {
    display: inline-block;
    width: 100%;
    margin-bottom: calc(var(--spacingUnit) / 2);
    vertical-align: top;

    @media (min-width: 768px) {
        width: 50%;
        padding-right: calc(var(--spacingUnit) / 2);
    }

}

.display-invisible { display: none; }
.display-before { display: block; }


/* Field Description */

.description-before, .description-after {
    display: block;
}

.description-before {
    margin-bottom: calc(var(--spacingUnit) / 2);
}

.description-after {
    font-size: .8em;
    margin-top: calc(var(--spacingUnit) / 3);

}
    label + input + .description-after, 
    label + input + .suffix + .description-after,
    label + textarea + .description-after {
        // TODO: exception for display-before labels;
        @media (min-width: 768px) {
            margin-left: 50%;
            padding-left: calc(var(--spacingUnit) / 2);
        }
    }

/* Prefix & Suffix */
.prefix, .suffix {
    display: inline-block;
}

.prefix {
    margin-right: 5px;
}

.suffix {
    margin-left: 5px;
}