@import '../styles/_variables.pcss';

.thankyou {

  background-color: var(--primaryColor);
  border-radius: var(--borderRadius);
  padding: calc(var(--spacingUnit) / 2) calc(var(--spacingUnit) / 1);
}
