:root {
  --baseColor: var(--baseColor, #000);
  --primaryColor: var(--primaryColor, green);
  --errorColor: var(--errorColor, #b72525);
  --errorBgColor: var(--errorBgColor, #f9e6e6);
  --borderRadius: var(--borderRadius, 2px);
  --secondaryColor: var(--secondaryColor, blue);
  --inputWidth: 250px;
  --inputLineHeight: 1.6em;
  --inputBgColor: #fdfdfd;
  --fieldsetBgColor: #f5f5f5;
  --fieldsetBorder: none;
  --placeholderColor: #6a6a6a;
  --focusColor: Highlight;
  --successColor: lightgreen;
  --borderColor: #ccc;
  --checkedColor: #000;
  --primaryFont: 'Helvetica';
  --spacingUnit: 1em;
  --iconCheckbox: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBwb2ludHM9IjIuODM2LDE0LjcwOCA1LjY2NSwxMS44NzggMTMuNDE1LDE5LjYyOCAyNi4zMzQsNi43MTIgMjkuMTY0LDkuNTQgMTMuNDE1LDI1LjI4OCAiLz48L3N2Zz4=');
  --buttonColor: #333;
  --buttonColorHover: #555;
  --buttonTextColor: #fff;
  --buttonSecondaryColor: #333;
  --buttonSecondaryColorHover: #555;
  --buttonSecondaryTextColor: #fff;
  --buttonColorDisabled: lightgrey;
  --formMaxWidth: 740px;
  --formMargin: 0;
}
