:root {
  --primaryColor: var(--primaryColor, green);
  --errorColor: var(--errorColor, red);
  --borderRadius: var(--borderRadius, 20px);
  --secondaryColor: var(--secondaryColor, blue);
  --inputColor: #ebebeb;
  --errorColor: red;
  --successColor: lightgreen;
  --borderColor: #cccccc;
  --checkedColor: #000;
  --primaryFont: 'Helvetica';

  --spacingUnit: 1em;
  --borderRadius: 5px;
  --iconCheckbox: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBwb2ludHM9IjIuODM2LDE0LjcwOCA1LjY2NSwxMS44NzggMTMuNDE1LDE5LjYyOCAyNi4zMzQsNi43MTIgMjkuMTY0LDkuNTQgMTMuNDE1LDI1LjI4OCAiLz48L3N2Zz4=');
}
