@import '../styles/_variables.pcss';

.webform {
  font-family: var(--primaryFont);
  max-width: var(--formMaxWidth);
  color: var(--baseColor)
}

.element {
  font-size: 10px;

  &.error {
    font-size: 16px;
    color: var(--errorColor);
  }
}

.formtitle {
  margin: 0 0 calc(var(--spacingUnit) / 2) 0;
}
