@import '../styles/_variables.css';

.element {
  font-size: 10px;

  &.error {
    font-size: 30px;
    color: var(--errorColor);
  }
}

.formtitle {
    margin: 0 0 calc(var(--spacingUnit) / 2) 0;
}
