@import '../styles/_variables.pcss';

.textarea {
  margin: 0;
  font-size: .9em;
  line-height: inherit;
  font-family: inherit;
  overflow: auto;
  border: 1px solid var(--borderColor);
  background-color: var(--inputColor);
  border-radius: var(--borderRadius);
  padding: calc(var(--spacingUnit) / 4) calc(var(--spacingUnit) / 2);
}
