@import '../styles/_variables.css';

.radio {
    display: none;

    &:checked {
        & + .indicator {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: calc(var(--spacingUnit) * .8);
                height: calc(var(--spacingUnit) * .8);
                background-color: var(--checkedColor);
                border-radius: 50%;
            }
        }
    }
}

.indicator {
    content: '';
    display: inline-block;
    width: var(--spacingUnit);
    height: var(--spacingUnit);
    margin-right: calc(var(--spacingUnit) / 2);
    background-color: var(--inputColor);
    border-radius: 50%;
}
